*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}

/* // age printer with if ellipse
.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.box{
    height: 300px;
    width: 300px;
    border:5px solid #3A0519;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.head{
    color: #3A0519;
    font-size: 22px;
}
.input{
    border: 3px solid;
    border-color: #3A0519;
    border-radius: 15px;
    height: 52px;
}
.butt{
    height: 32px;
    border: 2px solid#EF88AD;
    background: transparent;
    border-radius: 5px;
}
.result{
    color: #3A0519;
    font-size: 12px;
} */

/* // checked property */




/* // counter application

.main_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2F2;

}

.header_elements{
    background-color: #A9B5DF;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    height: 30px;
    width: 50px;
    border-radius: 12px;
    font-size: 20px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #2D336B;
}
.naming {
    color: #2D336B;

} */